language: python
sudo: false
cache: pip
python:
- 2.7
- 3.4
- 3.5
- 3.6
- pypy
install:
- pip install tox-travis
script:
- tox
stages:
- test
- deploy
jobs:
  include:
  - stage: deploy
    python: 3.6
    install: skip  # no tests, no depedencies needed
    script: skip  # we're not running tests
    deploy:
      provider: pypi
      user: stephenfin
      password:
        secure: "fDhsfRt8Gbo9YNedv3PCfhX1AYVlW9RJAyg8H1uo790ET22yVBtd+CKEI7MLHkF4wXHs4/hMKkwZASyDFc2q+Fk7h6YuTlXuJ7bTYhc4cPhdbCeau8hr8tUKpepUZdzvdWVdbR4ftIOiz77knD1aQldqPcCeQcX0HabYa0UayUJ1Nkc2gWHE9Lqnr+LNMTsUFWCZNPa5XdruHd5avmWg3dhAZXdcSBkMnZstdf+bcZLF8+UetQ65P751Vf241rJTbz91IoGhhd31OxbCDeBibtVO6KUTFs0hmafMgSihS9omlpTJH0LOGLkOEVvPjHKGyP3wM+yPXWaxukBIQyFhyrPJFIGCAl3iwk6A/dRIoD3tPd7REZCREDYinNwG1fGwSHT/AIqrc0sg4xVMKtXN+LrTIEZg0Bh8gzSyN3OGow7+7NmaAEL5a+jUqHsrQiAuTPXHdWp6K5BnxVkr9LW+znTNFTehXGOKDIXuE5dqG3+ZFvJbouLznBcTan8g6fRpuIOHOqSTHdJXn5OQAlAEnu/Uncp0x/ory2icCS5MKRAr+Lhys2QaTTtb34TMrVHpiz6Naj25sNGToUuWMf+xipYlzsqT3m25d9vmOfEK4xijRQ98MnqMhzLSCz+Am3o9KR9EcG/J65GuKc/JbQJNmNMyB69Wyu6ST3zCbeTK+i4="
      on:
        tags: true
      distributions: sdist bdist_wheel
